.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 100px;
}
.links {
  display: flex;
  align-items: center;
  gap: 18px;
}
.links a {
  font-size: 14px;
  font-weight: 600;
  transition: ease 0.3s all;
}

.links a:hover {
  border-bottom: 1px solid white;
}
